Package: elucidate
Version: 1.0r1.9
Architecture: iphoneos-arm
Maintainer: Michael Woolweaver <m.woolweaver@icloud.com>
Depends: procursus-keyring
Replaces: cydia
Section: System
Description: Clean up Elucubratus, Procursus, & Odyssey repos to work together on checkra1n.
 (ĭ-lo͞o′sĭ-dāt′) Clean up Elucubratus, Procursus, & Odyssey repos to work together on checkra1n.
Author: Michael Woolweaver <m.woolweaver@icloud.com>
Depiction: https://elucidate.woolweaver.bid
Name: elucidate
